
<section>
    <h2>Author</h2>
    <p>
        This Web Site has been created by <strong>Andrés Ripoll</strong>
    </p>
    <img src="images/avatar.jpg" width="200"/>
    <p>
        Sí, soy consciente de que es un ratón.
    </p>
</section>